.news {
	font-size: 60px;
	font-weight: 700;
	text-decoration-line: underline;
	display: flex;
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.img {
	display: flex;
	justify-content: center;
}